body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.tabs {
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: bold;
}

.tab:hover {
    background-color: #e0e0e0;
}

/* Botón de liga activo */
.tab.active {
    background-color: blue;
    color: white;
    border-color: darkblue;
}

/* Estilos para el botón "Todos" */
#allBtn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

#allBtn:hover {
    background-color: #28a745;
}

.filters button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.filters button:hover {
    background-color: #0056b3;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}
